= simple_form_for @pic, html: { multipart: true } do |f|
  - if @pic.errors.any?
    #errors
      %h2 
      = prurailze(@pic.errors.count, 'error')
      prevented this pic from saving.
      %ul 
        - @pic.errors.full_messages.each do |msg|
          %li= msg 

  .form_group 
    = f.input :title, input_html: { class: 'form-control' }
  .form_group 
    = f.input :description, input_html: { class: 'form-control' }

  -# .btn-group

  = f.button :submit, class: 'btn btn-success'
  = link_to 'Cancel', :back, class: 'btn btn-info'